# 依赖
node_modules/
.npm
.env

# 日志
*.log
npm-debug.log*

# 运行时数据
pids
*.pid
*.seed

# 构建输出
dist/
build/

# IDE 文件
.vscode/
.idea/
*.swp
*.swo

# OS 生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cloudflare
.wrangler/
